div.node-div {
	position: relative;
}

div.node-container-div {
	position: relative;
	left: 20px;
}

#cpp-tree img {
	position: absolute;
	left:-20px;
	/*top: 0px;*/
	/*height: 10px;*/
	/*display: none;*/
}


span.triangle-right {
	position: absolute;
	left: -8px;
	top: 3px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #999;
	display: inline-block;
}


span.triangle-down {
	position: absolute;
	left: -20px;
	top: 6px;
	border-top: 6px solid #999;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	display: inline-block;
}